body{
  font-family:'poppins',sans-serif;
}
h1{
 font-size: 50px;

 }
 
  p{
  text-align: justify;
 }
 .birds-color{
  color: rgb(10, 186, 192);

 }
 .flexiable-container{
  display: flex;
  margin-bottom:50px;
 }
 .div-sec{
  width: 50%;
  padding-left: 2%;
 }
 .hire-button{
  color:lightgoldenrodyellow;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(aqua,rgb(55, 0, 255));
  padding: 10px 40px;
  border-radius: 5px;

 }
 
 .div-two{
  width: 50%;
  padding-right: 3%;
 }
 .green-color{
color: green;
 }
 /* .third-section{
  background-image: url(/web-pic/Group\ 8447.png);
  background-repeat: no-repeat;
  background-position: left;
 } */
 .boxshadow{
  padding-left:20px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
 }
